* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f2f2f;
  color: white;
  padding: 15px 50px;
}

.logo p {
  font-size: 12px;
  color: #ccc;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 90vh;
  padding: 0 80px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 12px 25px;
  border: none;
  background: #1e90ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.hero-image img {
  width: 350px;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 60px;
  background: #f9f9f9;
}

.about-image img {
  width: 300px;
}

.about-text h2 {
  margin-bottom: 20px;
  border-bottom: 3px solid #1e90ff;
  display: inline-block;
  padding-bottom: 5px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #1e90ff;
  color: white;
  text-decoration: none;
}
/* SERVICES */
.services {
  padding: 80px;
  text-align: center;
  background: #ffffff;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.service {
  background: #f3f3f3;
  padding: 25px;
  width: 250px;
}

/* SKILLS */
.skills {
  padding: 80px;
  background: #f9f9f9;
  text-align: center;
}

.skill-list span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #1e90ff;
  color: white;
  border-radius: 20px;
}

/* WORKS */
.works {
  padding: 80px;
  text-align: center;
}

.work-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.work {
  background: #eaeaea;
  padding: 30px;
  width: 220px;
}

/* CONTACT */
.contact {
  padding: 100px;
  background: #2f2f2f;
  color: white;
  text-align: center;
}

.contact form {
  margin-top: 30px;
}

.contact input,
.contact textarea {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: solid #090909;
  border-radius: 20px;
}

.contact button {
  padding: 12px 25px;
  background: #1e90ff;
  border: none;
  color: white;
  cursor: pointer;
}
